@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("assets/fonts/Roboto/Roboto-Black.ttf") format("ttf")
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("assets/fonts/Roboto/Roboto-Bold.ttf") format("ttf")
}
