/* You can add global styles to this file, and also import other style files */

s

* {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  transition: background-color 200ms;

  &.dark {
    background-color: #000000;
  }
}

.dark {
  color: #ffffff;
}

.wrapper {
  margin: 0 auto;
  max-width: 372px;
  width: 100%;
}

img {
  position: relative;
  z-index: 0;
  outline: none;
  transition: 200ms;
  cursor: pointer;
  user-select: none;

  &:hover {
    transform: scale(1.2);
  }
}

// Section

section {
  margin-top: 32px;
}

.section-title {
  font-size: 18pt;
  margin-bottom: 9px;
  font-weight: 700;
  transition: 200ms;
  cursor: pointer;

  &.dark {
    color: #ffffff;
  }

  &--clickable {
    &.dark {
      color: #2094f9;
    }

    color: #2094f9;
  }
}

// Text {

.text {
  transition: color 200ms;

  &.dark {
    color: #ffffff;
  }
}

// Title
.title {
  outline: none;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
