/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("assets/fonts/Roboto/Roboto-Black.ttf") format("ttf")
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("assets/fonts/Roboto/Roboto-Bold.ttf") format("ttf")
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  transition: 200ms;

  &.dark {
    background-color: #000000;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 372px;
  width: 100%;
}

img {
  transition: 200ms;
  cursor: pointer;
  user-select: none;

  &.dark {
    path {
      fill: #ffffff;
    }
  }

  &:hover {
    transform: scale(1.2);
  }
}
