/* You can add global styles to this file, and also import other style files */

@import "scss/modules/fonts.scss";

* {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 372px;
  width: 100%;
}
