@import "../../assets/scss/modules/theme.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 8px;

    .button {
      cursor: pointer;
      text-align: center;
      color: #2094f9;
      margin-left: 24px;
    }
  }
}
