:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

main {
  min-height: 812px;
  height: 100%;
  width: 100%;
}

.title {
  cursor: pointer;
  margin-top: 15px;
  display: flex;
  font-weight: 900;
  font-size: 24pt;
  margin-bottom: 9px;
  transition: 200ms;

  &.dark {
    color: white;
  }

  span {
    color: #2094f9;
    font-size: 24pt;
    font-weight: 900;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  margin-top: 6px;
  display: flex;
  align-items: flex-end;
  height: 100%;

  img {
    margin-left: 12px;
  }
}

footer {
  background-color: #333;
  height: 120px;
  color: #ffffff;

  .wrapper {
    height: 100%;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }

  svg {
    cursor: pointer;
    margin-top: 32px;

    path {
      transition: 200ms;
    }

    &:hover path {
      fill: #2094f9;
    }
  }

  .copyright {
    font-size: 10pt;
    transition: 200ms;
    cursor: pointer;
    margin-bottom: 12px;

    &:hover {
      color: #2094f9;
    }
  }
}
