<div class="wrapper">
  <header>
    <div class="title" [ngClass]="{'dark': isDark$ | async}" routerLink="/">Delat<span>'</span></div>
    <div class="buttons">
      <img [src]="(isDark$ | async) ? 'assets/svg/delete-dark-24px.svg' : 'assets/svg/delete-24px.svg'" routerLink="/trashcan">
      <img [src]="(isDark$ | async) ? 'assets/svg/wb_sunny-dark-24px.svg' : 'assets/svg/wb_sunny-24px.svg'" class="dark" (click)="changeTheme()">
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
