:host {
  background-color: #FA124F;
}

main {
  min-height: 812px;
  height: 100%;
  width: 100%;
}

.title {
  cursor: pointer;
  margin-top: 15px;
  display: flex;
  font-weight: 900;
  font-size: 24pt;
  margin-bottom: 9px;
  transition: 200ms;

  &.dark {
    color: white;
  }

  span {
    color: #2094f9;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  margin-top: 6px;
  display: flex;
  align-items: flex-end;
  height: 100%;

  img {
    margin-left: 12px;
  }
}
