.input__new {
  border: 3px solid #000;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  padding: 0 9px;
  box-sizing: border-box;

  &::placeholder {
    color: #000;
  }
}

section {
  margin-top: 50px;
}

.section-title {
  font-size: 24pt;
  margin-bottom: 9px;
}

.item {
  box-sizing: border-box;
  cursor: pointer;
  border: 3px solid #FA124F;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  padding: 0 9px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  justify-content: space-between;
  transition: 200ms;

  &:hover {
    box-shadow: 0 0 4px 4px rgba(255, 230, 32, 0.25);
  }

  &--activated {
    border: 3px solid #FFE71D;
    background: #FFE71D;
    border-radius: 3px;
    width: 100%;
    height: 36px;
    padding: 0 9px;
    display: flex;
    align-items: center;
  }
}

.buttons {
  display: flex;
  align-items: center;

  img {
    margin-left: 14px;
  }
}
