<div class="wrapper">
  <input type="text" placeholder="New..." class="input__new" routerLink="new">
  <section>
    <app-section-title title="Today" [isDark]="isDark$ | async"></app-section-title>
    <app-task-item title="Homework" [isDark]="isDark$ | async"></app-task-item>
  </section>
  <section>
    <app-section-title title="Soon" [isDark]="isDark$ | async"></app-section-title>
    <app-task-item title="Homework" [isDark]="isDark$ | async"></app-task-item>
    <app-task-item title="Homework" [isDark]="isDark$ | async" [isActive]="true"></app-task-item>
  </section>
  <section>
    <app-section-title title="Favourites" [isDark]="isDark$ | async"></app-section-title>
    <app-task-item title="Homework" [isDark]="isDark$ | async" [isFavorite]="true"></app-task-item>
  </section>
</div>
