@import "theme.scss";

.input__new {
  border: $border-width solid #000;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  padding: 0 9px;
  box-sizing: border-box;
  background: none;

  &.dark {
    border: $border-width solid #fff;

    &::placeholder {
      color: #fff;
    }
  }

  &::placeholder {
    color: #000;
  }
}

.show-more {
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: #2094f9;
}
