<div class="wrapper">
  <input
    type="text"
    placeholder="New..."
    class="input__new"
    routerLink="new"
    [ngClass]="{'dark': isDark$ | async}">
  <section>
    <app-section-title
      title="Today"
      [clickable]="true"
      [routerLink]="'section-settings'"
      [queryParams]="{title: 'today'}"></app-section-title>
    <app-task-item
      *ngFor="let task of todayTasks"
      [task]="task"
      [routerLink]="'task'"
      [queryParams]="{id: task.id}"></app-task-item>
  </section>
  <section>
    <app-section-title
      title="Favourites"
      [clickable]="true"
      [routerLink]="'section-settings'"
      [queryParams]="{title: 'favourites'}"></app-section-title>
    <app-task-item
      *ngFor="let task of favoriteTasks"
      [task]="task"
      [isFavorite]="true"
      [routerLink]="'task'"
      [queryParams]="{id: task.id}"></app-task-item>
  </section>
  <section>
    <app-section-title
      title="Soon"
      [clickable]="true"
      [routerLink]="'section-settings'"
      [queryParams]="{title: 'soon'}"></app-section-title>
    <app-task-item
      *ngFor="let task of soonTasks"
      [task]="task"
      [routerLink]="'task'"
      [queryParams]="{id: task.id}"></app-task-item>
  </section>
  <div class="show-more">See more...</div>
</div>
