<img [src]="(isDark) ? 'assets/svg/more_vert-dark-24px.svg' : 'assets/svg/more_vert-24px.svg'" alt="Date"
     (click)="onMore($event)">
<ng-container #container></ng-container>
<ng-template #template>
  <div class="more-menu">
    <div class="more-menu__item">
      <img *ngIf="!isFavorite; else favorite"
           [src]="isDark ? 'assets/svg/favorite_border-dark-24px.svg' : 'assets/svg/favorite_border-24px.svg'"
           (click)="onFavorite($event)">
      <ng-template #favorite>
        <img [src]="isDark ? 'assets/svg/favorite-dark-24px.svg' : 'assets/svg/favorite-24px.svg'"
             (click)="onFavorite($event)">
      </ng-template>
      <span>Add to Favourites</span>
    </div>
    <div class="more-menu__item">
      <img [src]="isDark ? 'assets/svg/delete-dark-24px.svg' : 'assets/svg/delete-24px.svg'"
           (click)="onRemove($event)">
      <span>Remove</span>
    </div>
  </div>
</ng-template>
