<img
  *ngIf="!isArchived"
  [src]="(isDark$ | async) ? 'assets/svg/more_vert-dark-24px.svg' : 'assets/svg/more_vert-24px.svg'" alt="Date"
  (click)="onMore($event)">
<img
  *ngIf="isArchived"
  [src]="(isDark$ | async) ? 'assets/svg/restore_from_trash-dark-24px.svg' : 'assets/svg/restore_from_trash-24px.svg'"
  (click)="onRestore($event)">
<ng-container #container></ng-container>
<ng-template #template>
  <div class="more-menu" [ngClass]="{'dark': isDark$ | async}">
    <div class="more-menu__item" (click)="onFavorite($event)">
      <img *ngIf="!isFavorite; else favorite"
           [src]="(isDark$ | async) ? 'assets/svg/favorite_border-dark-24px.svg' : 'assets/svg/favorite_border-24px.svg'">
      <ng-template #favorite>
        <img [src]="(isDark$ | async) ? 'assets/svg/favorite-dark-24px.svg' : 'assets/svg/favorite-24px.svg'">
      </ng-template>
      <span>Add to Favourites</span>
    </div>
    <div class="more-menu__item" (click)="onRemove($event)">
      <img [src]="(isDark$ | async) ? 'assets/svg/delete-dark-24px.svg' : 'assets/svg/delete-24px.svg'">
      <span>Remove</span>
    </div>
  </div>
</ng-template>
