:host {
  position: relative;
}

.more-menu {
  padding: 12px;
  position: absolute;
  right: 0;
  width: fit-content;
  height: fit-content;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  z-index: 2;
  background-color: #ffffff;
  transition: 200ms;

  &__item {
    margin-bottom: 10px;
    display: flex;
    white-space: nowrap;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: #2094f9;
    }
  }
}
