<div class="wrapper">
  <div class="card">
    <div class="content">
      <div class="row">
        <input type="text" placeholder="New...">
        <div class="color-picker" (click)="onColorPicker()"></div>
      </div>
      <div class="row">
        <div>Time widget</div>
        <img src="assets/svg/access_time-24px.svg" alt="Date" (click)="onDate()">
      </div>
    </div>
    <div class="card__bottom">
      <img src="assets/svg/clear-24px.svg" alt="Cancel" (click)="onCancel()">
      <img src="assets/svg/done-24px.svg" alt="Done" (click)="onDone()">
    </div>
  </div>
</div>
